@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

#home{
    height: 100vh;
    margin-bottom: 0px;
}

#div_background{
    z-index: -1;
    display: flex;
    width: 100vw;
}

.bg{
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#bg_transparente{
    position: absolute;
    width: 100%;
    height: 513vh;
    background-color: rgba(30, 30, 30, 0.5);
    z-index: 1;
}

#bg_home{
    background-image: url(assets/cup-coffee-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bg_footer{
    background-image: url(assets/laptop-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 443vh;
    height: 70vh;
}

#content{
    z-index: 2;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 8vh;
    z-index: 2;
}

#logo{
    display: flex;
    z-index: 2;
    background-color: rgb(239 , 163 , 49);
    border-radius: 50%;
    padding: 12px;
}

.navitems{
    display: inline;
    color: rgb(239 , 163 , 49);
    font-size: large;
    text-align: center;
    margin-right: 50px;
} 

.navitems:hover{
    color:rgb(242,189,108);
}

.btn_juntarse{
    background-color:rgb(242,189,108);
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    border:0px;
    border-radius: 10px;
    padding: 10px;
}

.btn_juntarse:hover{
    background-color: rgb(239 , 163 , 49);
}

#div_home{
    text-align: right;
    margin-right: 100px;
    padding-bottom: 58px;
    z-index: 2;
}

#txt1{
    color: rgb(239 , 163 , 49);
    font-size: 60px;
}

#txt2{
    color:white;
    font-size: xx-large;
}

#txt3{
    color:white;
    width: 45vw;
    margin: 0px 50px;
    font-size: xx-large;
}

#div_home2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

#wpp_icon{
    position: fixed;
    margin: 25vh 0 50vh 2vw;
}

/* beneficios */
#beneficios{
    margin-top: 0px;
    padding-top: 5vh;
    background: linear-gradient(109.94deg, #1B1717 2.55%, #1D1D1D 14.05%, #453535 81.5%);
    color: white;
    height: 100vh;
}

#div_beneficios_itens{
    display:flex;
    justify-content: space-between;
    margin: 0vw 8vw;
    color: black;
}

.beneficios_itens{
    background-color: rgb(239 , 163 , 49);
    padding: 1vw 1vw 2vw 1vw;
    width: 40vw;
    height: 50vh;
    margin: 2vw;
    border-radius: 6px;
}

.title_beneficios123{
    margin-bottom: 5vh;
    font-size: xx-large;
}

.txt_beneficios123{
    margin: 5vh 10vh;
    font-size: x-large;
}


/* por que cafe */
#pq_cafe{
    margin-top: 0px;
    padding-top: 3vh;
    background: linear-gradient(109.94deg, #1B1717 2.55%, #1D1D1D 14.05%, #453535 81.5%);
    color: white;
    height: 100vh;
}

#bg_txtcafe{
    position: absolute;
    left: 49px;
    top: 1421px;
    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 185px;
    text-align: center;
    color: rgba(255, 254, 254, 0.15);
    height: 100vh;
    width: 90vw;
    margin-top: 20vh;
    letter-spacing: 4vw;
}

#div_pqcafe_itens{
    display: flex;
    justify-content: space-between;
    margin: 0vw 8vw;
}

.pqcafe_itens{
    padding: 1vw 2vw 2vw 1vw;
    width: 40vw;
    height: 60vh;
    margin: 2vw;
}

.pqcafe_num{
    border: 0.5vh solid rgb(239 , 163 , 49);
    border-radius: 8px;
    width: 3vw;
    height: 3vw;
    font-size: xx-large;
}

.title_pqcafe123{
    margin-bottom: 5vh;
    font-size: x-large;
}

.txt_pqcafe{
    font-size: large;
    padding: 2vw 0vw;
}

/* relatos */
#relatos{
    margin-top: 0px;
    padding-top: 5vh;
    background: linear-gradient(109.94deg, #1B1717 2.55%, #1D1D1D 14.05%, #453535 81.5%);
    color: white;
    height: 80vh;
}

#relatos_subtitulo{
    font-style: italic;
}

#relatos_slides{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#vetor1{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 567px;
    top: 2442px;
    border: 1.6px solid #EFA331;
}

#vetor2{
    position: absolute;
    width: 275px;
    height: 0px;
    left: 726px;
    top: 2442px;
    border: 1.6px solid #EFA331;
}

#relatos_retangulo{
    box-sizing: border-box;
    position: absolute;
    width: 472.76px;
    height: 200.14px;
    left: 532px;
    top: 2442px;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: #EFA331;
}

.relatos_img{
    position: absolute;
    border-radius: 100px;
    height: 8vh;
    width: 8vh;
    left: 510px;
    top: 2415px;
}

.relatos_nomes{
    text-align: left;
    padding-left: 5vw;
}

.relatos_txt{
    text-align: center;
    font-size: larger;
    padding: 20px 20px 20px 40px;
    width: 28vw;
}

.arrows{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#anterior, #proximo {
    cursor: pointer;
    padding: 0 350px 0 350px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;  
}

#anterior:hover, #proximo:hover {
    color: rgb(239 , 163 , 49);
}

#relatos_div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.relatos_mugs{
    cursor: pointer;
    margin: 20px;
    display: inline-block;
    transition: white 0.6s ease;
}

.active{
    color:rgb(239 , 163 , 49);
}

/* duvida */
#duvida{
    background: linear-gradient(109.94deg, #1B1717 2.55%, #1D1D1D 14.05%, #453535 81.5%);
    height: 50vh;
    display: flex;
    align-items: center;
}

#duvida_div{
    color: rgb(239 , 163 , 49);
    font-size: xx-large;
    flex-grow: 1;
    text-align: center;
}


/* footer */
#footer{
    height: 70vh;
    width: 95vw;
}

#txt_footer_div{
    display: flex;
    justify-content: center;
    margin: 5vh 0 0 4vw;
}

#txt_footer{
    background-color: rgb(239 , 163 , 49);
    border-radius: 13px;
    padding: 8px;
    text-align: center;
}

#redes{
    display: flex;
    justify-content: space-evenly;
}

.redes-itens{
    margin: 150px 0px;
}

.redes_icons{
    background-color: rgb(239 , 163 , 49);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    padding: 10px;
}